.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }


  @keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
  }
  
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }


    
.loader{
  height:100% !important;
  width: 100% !important;
  position: fixed;
  left:0;
  z-index: 9999;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,255,255)
}

  #bootstrap_navigation
  {
    color: white;
    background: linear-gradient(to right, #719CFE, #012d91);
  }
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  pointer-events: none;
  animation: fadeout .5s linear forwards;
  animation-delay: 1s; }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #000; }

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18vw;
  color: #fff;
  font-weight: 800;
  mix-blend-mode: difference;
  width: 550px;
  text-align: right; }

.navigation ul {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: space-around; }
  .navigation ul li {
    list-style: none;
    padding: 20px; }
    .navigation ul li a {
      position: relative;
      display: block;
      padding: 10px;
      margin: 0 10px;
      text-decoration: none;
      font-size: 16px;
      color:  #012d91 }
      .navigation ul li a:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #719CFE;
        border-left: 2px solid #719CFE;
        box-sizing: border-box;
        transform-origin: left;
        transition: .5s; }
      .navigation ul li a:hover:before {
        width: 10px;
        height: 10px; }
      .navigation ul li a:hover:after {
        width: 10px;
        height: 10px; }
      .navigation ul li a:after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid #719CFE;
        border-right: 2px solid #719CFE;
        box-sizing: border-box;
        transform-origin: right;
        transition: .5s; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0 3rem 3rem; }
 
::selection {
  background-color: #719CFE;
  color: #fff; }

.header {
  height: 85vh;
  background: -webkit-linear-gradient(to right, #719CFE, #012d91),url("https://www.smilefoundationindia.org/images/home/2019.jpg");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #719CFE, #012d91),url("https://www.smilefoundationindia.org/images/home/2019.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.main {
  scroll-behavior: smooth;
  overflow-y: scroll; }

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -20vh;
  text-align: center; }

.section-features {
  padding: 20rem 0;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #719CFE, #012d91);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem;
  margin-top: -10rem; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #719CFE, #012d91); }

.scrollTop {
  position: fixed;
  right: 10%;
  bottom: 10px;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  z-index: 100000;
  transition: all .4s ease-in-out 0s; }

.scrollTop a {
  font-size: 18px;
  color: #fff; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #719CFE;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      transform: scale(0.95); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #719CFE, #012d91);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  background-color: white;
  border: none;
  cursor: pointer; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after, .btn:link:hover::after, .btn:visited:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white, .btn:link--white, .btn:visited--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after, .btn:link--white::after, .btn:visited--white::after {
      background-color: #fff; }
  .btn--green, .btn:link--green, .btn:visited--green {
    background-color: #719CFE;
    color: #fff; }
    .btn--green::after, .btn:link--green::after, .btn:visited--green::after {
      background-color: #719CFE; }
  .btn::after, .btn:link::after, .btn:visited::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated, .btn:link--animated, .btn:visited--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #719CFE;
  color: #fff; }
  .btn--green::after {
    background-color: #719CFE; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #719CFE;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #719CFE;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #719CFE;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.footer {
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
  /* margin-top: -11rem; */
  background: linear-gradient(to right, #719CFE, #012d91);
  clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);
  width: 88vw;
  border-radius: 10px;
  margin: 0 auto;
}

.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  font-size: 1.5rem;
  margin: 0 auto; }

.footer__list {
  display: flex;
  justify-content: center;
  align-content: center; }
  .footer__list .item {
    margin: 10px;
    text-align: center;
    /* font-size:40px; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    line-height: 60px;
    list-style: none;
    /* float:right; */
    z-index: 1;
    position: relative; }
    .footer__list .item:hover {
      color: gray; }
      .footer__list .item:hover:before {
        transform: scale(0.9); }
    .footer__list .item::before {
      content: '';
      top: 0%;
      left: 0%;
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: pink;
      transition: .5s;
      transform: scale(0);
      z-index: -1; }

.fab {
  color: red;
  font-size: 20px; }

.portfolio {
  padding: 25rem 0;
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .portfolio > * {
    transform: skewY(7deg);
    height: 50%; }

.gallery__item {
  width: 90%;
  height: 90%; }

.gallery {
  background-color: pink;
  grid-column: full-start / full-end;
  display: grid;
  /*grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);*/
  grid-template: repeat(7, 5vw)/repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / 7; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / -1; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / 5;
    grid-column: 5 / 6; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / -1; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / 2; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / 5; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / -1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }


    #quote-carousel {
      padding: 0 10px 30px 10px;
      margin-top: 60px;
  }
  #quote-carousel .carousel-control {
      background: none;
      color: white;
      font-size: 2.3em;
      text-shadow: none;
      margin-top: 30px;
  }
  #quote-carousel .carousel-indicators {
      position: relative;
      right: 50%;
      top: auto;
      bottom: 0px;
      margin-top: 20px;
      margin-right: -19px;
  }
  #quote-carousel .carousel-indicators li {
      width: 50px;
      height: 50px;
      cursor: pointer;
      border: 1px solid #ccc;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      opacity: 0.4;
      overflow: hidden;
      transition: all .4s ease-in;
      vertical-align: middle;
  }
  #quote-carousel .carousel-indicators .active {
      width: 128px;
      height: 128px;
      opacity: 1;
      transition: all .2s;
  }
  .item blockquote {
      border-left: none;
      margin: 0;
  }
  .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
  }

    
    @media (max-width: 1400px) {
      body{
        padding: 0 3rem 3rem;
      }
      .navigation{
        display: block;
      }
      #bootstrap_navigation{
        display: none;
      }
      #black_box{
        display: none;
      }

    .header {
      height: 85vh;
      background: -webkit-linear-gradient(to right, #719CFE, #012d91),url("https://www.smilefoundationindia.org/images/home/2019.jpg");
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #719CFE, #012d91),url("https://www.smilefoundationindia.org/images/home/2019.jpg");
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background-size: cover;
      background-position: top;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; }
      .header__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem; }
    .header__logo {
      height: 10rem; }
    .header__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .heading-primary {
        color: #fff;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 6rem; }
        .heading-primary--main {
          display: block;
          font-size: 3rem;
          font-weight: 400;
          margin-bottom: 3rem; 
          letter-spacing: 2.5rem;
          animation-name: moveInLeft;
          animation-duration: 1s;
          animation-timing-function: ease-out; }
        .heading-primary--sub {
          display: block;
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: 1.75rem;
          animation: moveInRight 1s ease-out; }
    
    .paragraph{
      padding: 4rem;
      padding-top: 0rem;

      font-size: 1.6rem;
    }
      .paragraph:not(:last-child) {
        margin-bottom: -2rem; }
    

        .row{
        margin: 0 auto;}  

        .shadow{
          position: relative;
          width: 100%;
          height: 250px;
          background: linear-gradient(0deg, #000, #262626);
          color: white;
        
        }
        .shadow:before,
        .shadow:after
        {
          content: '';
          position: absolute;
          top: -2px;
          left: -2px;
          background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
          background-size: 400%;
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          z-index: -1;
          animation: animate 20s linear infinite;
        }
        .shadow:after
        {
          filter: blur(20px);
        }  
        .portfolio{
          padding: 25rem 0 15rem;
        }
        .portfolio>.row{
          margin: 0 auto;
        }
        .footer{
          width: 95vw;
        }

        .heading-secondary{
          margin-top: 9rem;
      }      
      .footer__copyright{
        margin-top: -6rem;
        padding-bottom: 2rem;
      }
    }
      

     @media (max-width: 1200px) {
      
      body{
        padding: 0px;
      }
      .navigation{

        display: none;
      }
      #bootstrap_navigation{
        display: block;
      }
      .header {
        margin-top: -20px;

        height: 95vh;
        background: -webkit-linear-gradient(to right, #719CFE, #012d91),url("https://www.smilefoundationindia.org/images/home/2019.jpg");
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #719CFE, #012d91),url("https://www.smilefoundationindia.org/images/home/2019.jpg");
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-position: top;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        }
        .header__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
      width: 40px;
    height: 40px; }
      .header__logo {
        display: none; }
      .header__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
    .heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    .btn, .btn:link, .btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1rem 2rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all .2s;
      position: relative;
      font-size: 1.6rem;
      background-color: white;
      border: none;
      cursor: pointer;
     }
    
.section-about {
  background-color: #f7f7f7;
  padding: 10rem 0 10rem;
  margin-top: -20vh;
  text-align: center;
 }
 .row .col-1-of-2 {
  width: 100%;
  display: block;
}
   .u-margin-bottom-big{
    margin-bottom: 0rem !important; }

  .heading-tertiary{

  }
  .u-margin-bottom-small {
    margin-bottom: 0rem !important; }
    .paragraph{
      padding: 2rem;
      font-size: 1.2rem;
    }
      .paragraph:not(:last-child) {
        margin-bottom: 0rem; }

        
.composition {
  position: relative;
  margin-top: 5rem;
  padding: 2rem;
 }
  .composition__photo {
    width: 35%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    
    .composition__photo--p1 {
      left: 14rem;
      top: -2rem; }
    .composition__photo--p2 {
      right: 16rem;
      top: 0rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #719CFE;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
    .composition__photo:hover .composition__photo__photo:not(:hover) {
      transform: scale(0.95); }  
      .section-features {
        padding: 10rem 0;
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #719CFE, #012d91);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        transform: skewY(-7deg);
        margin-top: 30rem;
      overflow: hidden; 
    text-align: center;}
      .row{
        text-align: center;
      }  
      .row .col-1-of-3 {
          display: block;
          width: 100%;
        }
      .shadow{
      position: relative;
      width: 80%;
      margin: 0 auto 3rem;
      height: 250px;
      background: linear-gradient(0deg, #000, #262626);
      color: white;
    }.shadow:before,
    .shadow:after
    {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: -1;
      animation: animate 20s linear infinite;
    }
    .shadow:after
    {
      filter: blur(20px);
    }
 
    
    .portfolio>.row{
      margin: 0 auto;
    }
    .col-1-of-3{
      display: block;
      width: 100%;
    }
    .col-1-of-3 > figure{
      /* display: block;
       */
       width: 80%;
       text-align: center;
      margin: 0rem  auto 2rem;
      }
      .footer {
        padding: 0rem 0;
        margin-top:106rem;
      }#make_down{
        margin-top: 4rem;
        margin-bottom: -8rem;
      }

      .footer__copyright{
        margin-top: -6rem;
      }
  
  
  
      .heading-secondary{
        margin-top: 13rem;
    }  }
    
    
      
      
      @media (max-width: 1200px) 
      {
        .footer {
          padding: 0rem 0;
          margin-top:140rem; 
          border-radius: 0px;
          width: 96%;
        }.footer__copyright{
          margin-top: 5rem;
        }
          .heading-secondary{
            margin-top: 6rem;
        }
        .portfolio{
          height:1500px;
        }
          .footer {
            padding: 0rem 0;
            border-radius: 0px;
            width: 82%;
          margin-top:181rem; 
  
            box-sizing: initial;
            width: 82%;
            padding: 0 3rem;}
          .footer__list {
            display: flex;
            justify-content: center;
            align-content: center; 
            width:93%;
          }
     
          .heading-secondary{
            margin-top: 9rem;
        } }
      
      @media (max-width: 800px) 
      {
        .footer {
          padding: 0rem 0;
          margin-top:123rem; 
          border-radius: 0px;
          width: 94%;
        }.footer__copyright{
          margin-top: 5rem;
        }
          .heading-secondary{
            margin-top: 6rem;
          }
        .portfolio{
          height:1149px;
        }
          .footer {
            padding: 0rem 0;
            border-radius: 0px;
            width: 82%;
          margin-top:124rem; 
  
            box-sizing: initial;
            width: 82%;
            padding: 0 3rem;}
          .footer__list {
            display: flex;
            justify-content: center;
            align-content: center; 
            width:93%;
          }
      
          .heading-secondary{
            margin-top: 9rem;
        }}

      
      @media (max-width: 720px) {
        body{
          padding: 0px;
        }
        .navigation{
          display: none;
        }
        #bootstrap_navigation{
          display: block;
        }
        .header {
          margin-top: -20px;
  
          height: 95vh;
          background: -webkit-linear-gradient(to right, #719CFE, #012d91),url("https://www.smilefoundationindia.org/images/home/2019.jpg");
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #719CFE, #012d91),url("https://www.smilefoundationindia.org/images/home/2019.jpg");
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background-size: cover;
          background-position: top;
          position: relative;
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          }
          .header__logo-box {
          position: absolute;
          top: 4rem;
          left: 4rem;
        width: 40px;
      height: 40px; }
        .header__logo {
          display: none; }
        .header__text-box {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; }
      .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .heading-primary--main {
      display: block;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 3rem; 
      letter-spacing: 2.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .heading-primary--sub {
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out; }
      .btn, .btn:link, .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
        background-color: white;
        border: none;
        cursor: pointer; }
        
      .composition__photo--p1 {
        left: 11rem;
        top: -2rem; }
      .composition__photo--p2 {
        right: 11rem;
        top: 0rem; }
      .composition__photo--p3 {
        left: 20%;
        top: 10rem; }
        
      .composition__photo:hover {
        outline: 1.5rem solid #719CFE;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 20; }
        
        .section-features {
          padding: 10rem 0;
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #719CFE, #012d91);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background-size: cover;
          transform: skewY(-7deg);
          margin-top: 15rem;
        overflow: hidden; 
      text-align: center;}
      .row{
        text-align: center;
      }  
      .row .col-1-of-3 {
          display: block;
          width: 100%;
        }
       .shadow{
        position: relative;
        width: 80%;
        margin: 0 auto 3rem;
        height: 250px;
        background: linear-gradient(0deg, #000, #262626);
        color: white;
      }.shadow:before,
      .shadow:after
      {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: animate 20s linear infinite;
      }
      .shadow:after
      {
        filter: blur(20px);
      }
      
      .portfolio>.row{
        margin: 0 auto;
      }
      .col-1-of-3{
        display: block;
        width: 100%;
      }
      .col-1-of-3 > figure{
        /* display: block;
         */
         width: 80%;
         text-align: center;
        margin: 0rem  auto 2rem;
        }
        .footer {
          padding: 0rem 0;
          margin-top:123rem; 
          border-radius: 0px;
          width: 95%;
        }
        #make_down{
          margin-top: 4rem;
          margin-bottom: -8rem;
        }
        .footer__copyright{
          margin-top: 0rem;
        }
     
     
        .heading-secondary{
          margin-top: 9rem;
      } }

      @media (max-width: 700px) 
      {
        .footer {
          padding: 0rem 0;
          margin-top:123rem; 
          border-radius: 0px;
          width: 94%;
        }.footer__copyright{
          margin-top: 5rem;
        }
          .heading-secondary{
            margin-top: 6rem;
        }
        .portfolio{
          height:1149px;
        }
          .footer {
            padding: 0rem 0;
            border-radius: 0px;
            width: 82%;
          margin-top:124rem; 
  
            box-sizing: initial;
            width: 82%;
            padding: 0 3rem;}
          .footer__list {
            display: flex;
            justify-content: center;
            align-content: center; 
            width:93%;
          }}

      @media (max-width: 600px) 
      {
        .footer {
          padding: 0rem 0;
          margin-top:123rem; 
          border-radius: 0px;
          width: 93%;
        }
      }
      
      @media (max-width: 500px) 
      {

        body{
          padding: 0px;
        }
        .navigation{
          display: none;
        }
        #bootstrap_navigation{
          display: block;
        }
        .header {
          margin-top: -20px;
          height: 95vh;
          background: -webkit-linear-gradient(to right, #719CFE, #012d91),url("https://www.smilefoundationindia.org/images/home/2019.jpg");
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #719CFE, #012d91),url("https://www.smilefoundationindia.org/images/home/2019.jpg");
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background-size: cover;
          background-position: top;
          position: relative;
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          }
          .header__logo-box {
          position: absolute;
          top: 4rem;
          left: 4rem;
        width: 40px;
      height: 40px; }
        .header__logo {
          display: none; }
        .header__text-box {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center; }
      .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .heading-primary--main {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.5rem;
      margin-bottom: 4rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .heading-primary--sub {
      display: block;
      font-size: 1rem;
      line-height: 2rem;
      font-weight: 700;
      letter-spacing: 1rem;
      animation: moveInRight 1s ease-out; }
      .btn, .btn:link, .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        padding-bottom:2rem; 
        position: relative;
        font-size: 1.6rem;
        background-color: white;
        border: none;
        cursor: pointer; }
        .composition__photo {
          width: 200px;
           }
           .heading-secondary {
             font-size: 2.5rem;
             text-transform: uppercase;
             font-weight: 700;
             display: inline-block;
             background-image: linear-gradient(to right, #719CFE, #012d91);
             -webkit-background-clip: text;
             color: transparent;
             letter-spacing: .1rem;
             transition: all 0.2s; }
             .heading-secondary:hover {
               transform: skewY(0deg) skewX(0deg) scale(1.05);
               text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
           
      .composition__photo--p1 {
        left: 7rem;
        top: -2rem; }
      .composition__photo--p2 {
        right: 6rem;
        top: 0rem; }
      .composition__photo--p3 {
        left: 20%;
        top: 10rem; }
        .section-features {
          padding: 10rem 0;
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #719CFE, #012d91);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background-size: cover;
          transform: skewY(-7deg);
          margin-top: 15rem;
        overflow: hidden; 
      text-align: center;}
      .row{
        text-align: center;
      }  
      .row .col-1-of-3 {
          display: block;
          width: 100%;
        }
       .shadow{
        position: relative;
        width: 80%;
        margin: 0 auto 3rem;
        height: 250px;
        background: linear-gradient(0deg, #000, #262626);
        color: white;
      }.shadow:before,
      .shadow:after
      {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: animate 20s linear infinite;
      }
      .shadow:after
      {
        filter: blur(20px);
      }
      
      .portfolio>.row{
        margin: 0 auto;
      }
      .col-1-of-3{
        display: block;
        width: 100%;
      }
      .col-1-of-3 > figure{
        /* display: block;
         */
         width: 80%;
         text-align: center;
        margin: 0rem  auto 2rem;
        }
        #make_down{
          margin: 2rem;
        }

        #make_down h1{
          font-size: 20px;
        }
        .footer__copyright{
          margin-top: -6rem;
        }  
        #make_down:first-child{
          margin-bottom:-8rem; 
        }
        
        .footer__list .item {
          margin: 5px;
          text-align: center;
          /* font-size:40px; */
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: white;
          line-height: 40px;
          list-style: none;
          /* float:right; */
          z-index: 1;
          position: relative; }
          .footer__list .item:hover {
            color: gray; }
            .footer__list .item:hover:before {
              transform: scale(0.9); }
          .footer__list .item::before {
            content: '';
            top: 0%;
            left: 0%;
            position: absolute;
            width: 40px;
          height: 40px;
            border-radius: 50%;
            background-color: pink;
            transition: .5s;
            transform: scale(0);
            z-index: -1; }

            #quote-carousel .carousel-indicators li {
              width: 20px;
              height: 20px;
              cursor: pointer;
              border: 1px solid #ccc;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
              border-radius: 50%;
              opacity: 0.4;
              overflow: hidden;
              transition: all .4s ease-in;
              vertical-align: middle;
          }
          #quote-carousel .carousel-indicators .active {
              width: 80px;
              height:80px;
              opacity: 1;
              transition: all .2s;
          }
          
        .footer {
          padding: 0rem 0;
          margin-top:123rem; 
          border-radius: 0px;
          width: 93%;
        }
          .heading-secondary{
            margin-top: 6rem;
        }
        .portfolio{
          height:1149px;
        }
          .footer {
            padding: 0rem 0;
            border-radius: 0px;
            width: 82%;
          margin-top:124rem; 
  
            box-sizing: initial;
            width: 82%;
            padding: 0 3rem;}
          .footer__list {
            display: flex;
            justify-content: center;
            align-content: center; 
            width:93%;
          }
        }


@media (max-width: 450px) 
      {
        .footer {
          padding: 0rem 0;
          margin-top:110rem; 
          border-radius: 0px;
          width: 93%;
        }
      }

      @media (max-width: 500px) 
      {
        .heading-secondary{
          margin-top: 6rem;
      }
      .portfolio{
        height:1149px;
      }
        .footer {
          padding: 0rem 0;
          border-radius: 0px;
          width: 82%;
        margin-top:124rem; 

          box-sizing: initial;
          width: 82%;
          padding: 0 3rem;}
        .footer__list {
          display: flex;
          justify-content: center;
          align-content: center; 
          width:93%;
        }
    }
    @media (max-width: 411px) 
    {
    .heading-secondary{
        margin-top: 6rem;
    }
    .portfolio{
      height:1149px;
    }
    .footer {
        padding: 0rem 0;
        margin-bottom: 2rem;
        margin-top:124rem; 
        border-radius: 0px;
        width: 79%;
        box-sizing: initial;
        padding: 0 3rem;}
      .footer__list {
        display: flex;
        justify-content: center;
        align-content: center; 
        width:93%;
      }
      .footer__copyright{
        margin-top: -6rem;
        padding-bottom: 2rem;
      }
  }




    @media (max-width: 360px) 
    {
      .portfolio{
        height:1149px;
      }
      .footer {
        padding: 0rem 0;
        border-radius: 0px;
        width: 79%;
        margin-bottom: 2rem;
        box-sizing: initial;
        padding: 0 3rem;}
      .footer__list {
        display: flex;
        justify-content: center;
        align-content: center; 
        width:93%;
      }
      .footer__copyright{
        margin-top: -6rem;
        padding-bottom: 2rem;
      }
  }


